/*ESTILOS GENERALES*/

* {
margin: 0px;
padding: 0px;
}

a {
text-decoration: none;
}

h1 {
font-family: 'Montserrat', sans-serif;
}

p {
font-family: 'Lato', sans-serif;
}

/*HEADER Y LOGO*/

header {
/*outline: 1px solid red;*/
width: 100%;
height: 110px;
position: fixed;
background-color: #2c3e50;
font-family: 'Montserrat', sans-serif;
}

.subheader {
/*outline: 1px solid #fff;*/
width: 1400px;
float: left;
margin: auto;
}

.subheader .logo h1 {
/*outline: 1px solid red;*/
float: left;
width: 400px;
color: #fff;
font-size: 32px;
font-weight:700;
letter-spacing: 0px;
margin-left: 120px;
margin-top: 35px;
}

/*MENU*/

.subheader nav {
/*outline: 1px solid yellow;*/
float: left;
width:690px;
padding: 30px ;
text-align: right;
margin-top: 13px;
margin-right: 0px;
}

.subheader nav ul li {
/*outline: 1px solid red;*/
display: inline;
}

.subheader nav ul li a {
/*outline: 1px solid green;*/
color: #fff;
font-size: 16px;
font-weight: 700;
letter-spacing: 1px;
padding: 8px;
}

header .subheader nav ul li a:hover {
color: #18bc9c;
}

/*SECTION FIRST*/

.first {
width: 100%;
background-color: #18bc9c;
padding-top: 110px;
display: flex;
flex-flow: column;
align-items: center;
}

.first .image img {
width: 256px;
height: 256px;
margin-top: 90px;
margin-bottom: -10px;
}

.first h1 {
/*outline: 1px solid red;*/
color: #fff;
font-weight: bold;
font-size: 75px;
margin-top: 40px;
margin-bottom: 15px;
}

.first .star {
color: #fff;
margin-top: 13px;
margin-bottom: 20px;
}

.first .star:after {
border-top: 5px solid #fff;
width: 100px;
display: inline-block;
bottom: 10px;
position: relative;
margin: 0px 10px;
}

.first .star:before {
border-top: 5px solid #fff;
width: 100px;
display: inline-block;
bottom: 10px;
position: relative;
margin: 0px 10px;
}

.first .star:before, .star:after {
content: "";
}

.first p {
/*outline: 1px solid red;*/
color: #fff;
font-size: 28px;
margin-bottom: 100px;
}

/*SECTION PORTFOLIO*/

.portfolio {
width: 100%;
background-color: #fff;
display: flex;
flex-flow: column;
align-items: center;
}

.portfolio h1 {
/*outline: 1px solid red;*/
color: #000;
font-weight: bold;
font-size: 45px;
margin-top: 100px;
margin-bottom: 15px;
}

.portfolio .star {
/*outline: 1px solid red;*/
color: #2c3e50;
}

.portfolio .star:after {
border-top: 5px solid #2c3e50;;
width: 100px;
display: inline-block;
bottom: 10px;
position: relative;
margin: 0px 10px;
}

.portfolio .star:before {
border-top: 5px solid #2c3e50;
width: 100px;
display: inline-block;
bottom: 10px;
position: relative;
margin: 0px 10px;
}

.portfolio .star:before, .star:after {
content: "";
}

.portfolio .line_one .cabin {
background-image: url(../assets/images/portfolio/cabin.png);
background-size: contain;
width: 350px;
height: 255px;
display: block;
margin: 15px;
}

.portfolio .line_one .cake {
background-image: url(../assets/images/portfolio/cake.png);
background-size: contain;
width: 350px;
height: 255px;
display: block;
margin: 15px;
}

.portfolio .line_one .circus {
background-image: url(../assets/images/portfolio/circus.png);
background-size: contain;
width: 350px;
height: 255px;
display: block;
margin: 15px;
}

.portfolio .line_two .game {
background-image: url(../assets/images/portfolio/game.png);
background-size: contain;
width: 350px;
height: 255px;
display: block;
margin: 15px;
}

.portfolio .line_two .safe {
background-image: url(../assets/images/portfolio/safe.png);
background-size: contain;
width: 350px;
height: 255px;
display: block;
margin: 15px;
}

.portfolio .line_two .submarine {
background-image: url(../assets/images/portfolio/submarine.png);
background-size: contain;
width: 350px;
height: 255px;
display: block;
margin: 15px;
}

.cabin .info, .cake .info, .circus .info, .game .info, .safe .info, .submarine .info {
visibility: hidden;
width: 350px;
height: 255px;
background-color: #18bc9c;
opacity: .9;
margin: auto;
display: flex;
align-items: center;
justify-content: center;
}

.cabin:hover .info, .cake:hover .info, .circus:hover .info, .game:hover .info, .safe:hover .info, .submarine:hover .info {
visibility: visible;
}

.portfolio .fa-search-plus {
color: #fff;
}

.portfolio .line_one {
/*outline: 1px solid blue;*/
width: 100%;
height: auto;
display: flex;
justify-content: center;
}

.portfolio .line_two {
/*outline: 1px solid blue;*/
width: 100%;
height: auto;
display: flex;
justify-content: center;
margin-bottom: 105px;
}

/*SECTION ABOUT*/

.about {
width: 100%;
background-color: #18bc9c;
display: flex;
flex-flow: column;
align-items: center;
}

.about h1 {
/*border: 1px solid red;*/
color: #fff;
font-weight: bold;
font-size: 45px;
margin-top: 100px;
margin-bottom: 15px;
}

.about .star {
color: #fff;
}

.about .star:after {
border-top: 5px solid #fff;
width: 100px;
display: inline-block;
bottom: 10px;
position: relative;
margin: 0px 10px;
}

.about .star:before {
border-top: 5px solid #fff;
width: 100px;
display: inline-block;
bottom: 10px;
position: relative;
margin: 0px 10px;
}

.about .star:before, .star:after {
content: "";
}

.container {
/*outline: 1px solid yellow;*/
width: 60%;
height: auto;
display: flex;
justify-content: center;
margin-top: 15px;
}

.text_one ,.text_two {
/*outline: 1px solid red;*/
width: 340px;
height: 220px;
text-align: center;
margin: 0px auto;
display: inline-block;
color: #fff;
font-size: 20px;
letter-spacing: 0px;
line-height: 30px;
}

.download p {
color: #fff;
font-size: 20px;
border: 2px solid #fff;
border-radius: 5px;
text-decoration: none;
font-family: 'Lato', sans-serif;
display: inline-block;
padding: 8px 13px;;
margin: 0px auto;
margin-bottom: 105px;
}

.download p:hover {
background-color: #fff;
color: #18bc9c;
}

/*SECTION CONTACME*/

.contactme {
width: 100%;
background-color: #fff;
display: flex;
flex-flow: column;
align-items: center;
}

.contactme h1 {
/*outline: 1px solid red;*/
color: #000;
font-weight: bold;
font-size: 45px;
margin-top: 100px;
margin-bottom: 15px;
}

.contactme .star {
/*outline: 1px solid red;*/
color: #2c3e50;
}

.contactme .star:after {
border-top: 5px solid #2c3e50;;
width: 100px;
display: inline-block;
bottom: 10px;
position: relative;
margin: 0px 10px;
}

.contactme .star:before {
border-top: 5px solid #2c3e50;
width: 100px;
display: inline-block;
bottom: 10px;
position: relative;
margin: 0px 10px;
}

.contactme .star:before, .star:after {
content: "";
}

form {
/*outline: 1px solid blue;*/
width: 54%;
height: 600px;
margin: 0px auto;
font-family: 'Lato', sans-serif;
color: #92968a;
margin-top: 50px;
margin-bottom: 80px;
}

label {
font-size: 24px;
display: block;
width: 100%;
}

textarea {
resize: vertical;
max-height: 200px;
min-height: 100px;
}

input, textarea {
/*outline: 1px solid green;*/
width: 100%;
box-sizing: border-box;
padding: 10px;
border: none;
border-bottom: 1px solid #d4d7cf;
margin-bottom: 30px;
}

input[type=button] {
background-color: #18bc9c;
padding: 10px;
width: 80px;
border-radius: 5px;
border: none;
margin-bottom: 0px;
color: #fff;
font-size: 20px;
font-family: 'Lato', sans-serif;
font-weight: bold;
margin-top: 30px;
}

input[type=button]:hover {
background-color: #209d84;
}

/*SECTION FOOTER*/

.footer {
width: 100%;
background-color: #2c3e50;
color: #fff;
display: flex;
justify-content: center;
}

.footer h1 {
/*outline: 1px solid red;*/
font-size: 28px;
}

.footer p {
/*outline: 1px solid red;*/
font-size: 20px;
line-height: 30px;
margin-top: 30px;
}

.footer a {
font-size: 18px;
color:  #fff;
}

.footer .freelancer a {
font-size: 20px;
color:  #18bc9c;
}

.footer .freelancer a:hover {
font-size: 20px;
color:  #18bc9c;
text-decoration: underline;
}

.location {
/*outline: 1px solid #fff;*/
width: 320px;
height: 210px;
margin: 0px auto;
text-align: center;
padding: 20px;
margin: 10px;
margin-top: 35px;
}

.web {
/*outline: 1px solid #fff;*/
width: 320px;
height: auto;
margin: 0px auto;
text-align: center;
padding: 20px;
margin: 10px;
margin-top: 35px;
}

.freelancer {
/*outline: 1px solid #fff;*/
width: 320px;
height: auto;
margin: 0px auto;
text-align: center;
padding: 20px;
margin: 10px;
margin-top: 35px;
}

.web .icons {
/*outline: 1px solid blue;*/
display: flex;
justify-content: center;
margin-top: 5px;
}

.facebook, .google_plus, .twitter, .linkedin, .dribbble {
margin: 5px;
}

.facebook p, .google_plus p, .twitter p, .linkedin p, .dribbble p {
width: 38px;
height: 38px;
border: 2px solid #fff;
padding: 5px;
background-color: #2c3e50;;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
}

.facebook p:hover, .google_plus p:hover, .twitter p:hover, .linkedin p:hover, .dribbble p:hover {
color:  #18bc9c;;
background-color: #fff;
}

.website p {
width: 100%;
color: #fff;
background-color: #2c3e50;
display: flex;
justify-content: center;
padding-bottom: 30px;
}
